@import url('https://fonts.googleapis.com/css?family=Oxygen+Mono|Nunito:400,700,900|Khand|Lato|Roboto:400,700&display=swap');

/**** GENERAL ****/
* { box-sizing: border-box }
:root {
	--main-max-width: 1220px;
	--sec-fonts: Khand,tahoma,verdana;
}
body  { margin:41px 0 0 0; background:#fff; font:normal 14px/1.2 roboto,arial,helvetica; color:#000 }
table { border-collapse:collapse; margin:0 }
td    { font-size:10pt; padding:0 }
a     { text-decoration:none; color:#06e }
a:active { color:#f84 }
a img   { border:0 }
form, ul { margin:0; padding:0 }
hr    { border-width:1px 0 0 0; height:1px; margin:5px 0; border-style:solid; color:#888 }
pre   { margin-top:0 }
ul, li { list-style-type:none }
div.clear { clear:both }
input[type=text] { border:1px solid #aaa; outline:none; font:normal 16px/18px roboto,arial; padding:2px; border-radius:3px; color:#08c }
em { font-style:normal }
::-webkit-input-placeholder, ::placeholder { color:#bbb }

/** GENERAL **/
div.texto { font:normal 16px/1.3 roboto,arial; text-align:justify }
div.titulo { clear:both; padding:2px 0 0 3px; height:19px; text-align:left; vertical-align:middle;
          color:#fff; font:bold 13px/16px var(--sec-fonts); background-color:#222; border:0;
					background:linear-gradient(to right, #000, #000 70%, #fff);}
button.orng { border:1px solid #f62; background:#f84; width:90px; height:27px; color:#fff; font:bold 7pt/20px tahoma,verdana; padding:0; border-radius:3px; -webkit-border-radius:3px }
.dotloader { width:150px; height:25px; margin-left:72px; float:left; display:block; background-image:url('//cdn.lacuerda.net/IMG/dotloader.gif'); background-repeat:no-repeat; background-size:100px 70px; background-position:-25px -27px }

.butCmd { position:absolute; float:right; line-height:0.7; -webkit-transition:margin-top 0.25s linear; transition:margin-top 0.25s linear; border:0px solid #f84; width:1em; height:1em; margin:0 0 0.05em 0.05em;
					cursor:pointer; -webkit-user-select:none; user-select:none; font-size:40px; background-color:#666; border-radius:0.5em; text-align:center; color:#fff }
.butCmd img { width:0.6em; height:0.6em; margin-top:0.18em }
.butCmd:hover { background-color:#444 }
.butCmd:active { background-color:#f84 }
.butCmd em { text-decoration:none; display:block; font:normal 0.45em/2.2 roboto,arial;  }
.butCmd em.small { font:normal 0.35em/2.9 roboto,arial }

.tipoIcon { float:left; background-image:url('//cdn.lacuerda.net/IMG/Tipos.png'); background-repeat:no-repeat; background-size:108px 18px; height:20px; width:18px  }
.tiR {background-position:0 1px}
.tiT {background-position:-18px 1px}
.tiB {background-position:-36px 1px}
.tiK {background-position:-54px 1px}
.tiD {background-position:-72px 1px}
.tiH {background-position:-90px 1px}

.mCalImg { float:right; background-image:url('//cdn.lacuerda.net/IMG/Califs2.png'); background-repeat:no-repeat; width:30px; height:14px; margin-top:3px }
.mci90 {background-position:0 -81px }
.mci85 {background-position:0 -95px }
.mci80 {background-position:0 -109px }
.mci75 {background-position:0 -123px }
.mci70 {background-position:0 -137px }
.mci65 {background-position:0 -151px }
.mci60 {background-position:0 -165px }
.mci55 {background-position:0 -179px }
.mci00 {background-position:0 -193px }

#r_head { width:524px; float:left }
#r_head H1 { font:bold 24px/28px Nunito,'Arial'; color:#0a0; margin:0 0 0 5px}
#r_head H1 A { color:#080; font:bold 18px/20px Nunito,'Arial';  }
#r_head H2 { font:normal 11px/13px Nunito,arial; color:#999; margin:0; margin:3px 0 12px 5px }
.rLoader { margin-left:680px!important; margin-top:10px!important }
.rThumbs { margin-bottom:20px; width:110%; overflow:hidden }
.rThumbs li { display:block; float:left; border:1px solid #888; border-radius:3px; width:230px; height:240px; margin:0 20px 20px 0; cursor:pointer }
.rThumbs li a { color:#04c }
.rThumbs li:hover { background-color:#333; color:#fff; border-color:#f84; opacity:1 }
.rThumbs li:hover a { color:#fc0 }
.rtHead { background-color:#eee; border-style:solid; border-color:#888; border-width:0 0 1px 0; padding:3px; height:28px; border-radius:3px 3px 0 0 }
.rtLabel { float:left; font:bold 15px/23px Nunito,arial; margin-left:5px; width:135px; overflow:hidden; color:#000 }
.rtLabel a { color:#000!important }
.rtMejor { width:50px;padding:2px; border-radius:4px; height:22px; margin-top:0; font:bold 9px/1 arial; background-image:none; background-color:transparent; color:#0a0 }
.rtMejor em { position:absolute; font:normal 18px/1 arial; margin-left:34px; color:#0a0 }
.rtBody { float:none; clear:all; height:208px; width:100%; padding:3px; opacity:0.65; overflow:hidden;  }
.rtBody pre { overflow:hidden; font-style:normal; font:normal 10px/1.1 'Oxygen Mono','lucida console','courier new','courier', monospace }
.rtBody a:active { background-color:#2af }
.rtBody em { font-style:normal; font-weight:normal; font-family:'Oxygen Mono','lucida console','courier new','courier'; line-height:0.8;  }
.rtBody .acl { line-height:0.7; vertical-align:bottom; margin-top:0.5em }
#rInvCol { text-align:center; font:normal 12px/1.2 Nunito,arial; color:#222 }
#rInvCol em {font:bold 18px/1.5 roboto,arial}
.ricPlus { width:50px; height:50px; margin:50px auto 30px auto; padding-left:1px; font:bold 40px/46px Nunito,arial; text-align:center; border-radius:25px; border:1px solid #000; border-color:inherit }
.tiVid { float:left; height:20px; width:18px; font:normal 16px/16px sans-serif; padding-top:3px; color:#000 }
.rtVidImg { width:200px; height:112px; margin:10px auto 15px auto; background-size:200px 150px; background-position:0 -19px; background-repeat:no-repeat }
.rtVidImg em { position:absolute; display:block; margin:4px 0 0 4px; color:#fff; background-color:#f00; padding:3px; border-radius:3px; font:bold 8px arial; opacity:0.7 }
.rtVidTxt { width:200px; font:bold 12px/1.2 Nunito,arial; margin:0 14px; position:absolute }
.rtVidTime { width:220px; text-align:right; color:#aaa; margin-top:66px; font:bold 14px Khand,verdana }
.rLetra { text-align:justify; font:normal 14px/1.5 Roboto,arial;color:#333; border-bottom:solid 1px #888; margin:5px 0 }










/** PUBLICIDAD **/
#ban160,#ban300,#ban728,#ban728b,#ban320 { overflow:hidden; background:#eee; text-align:center }
#ban160 {width:160px; height:600px; margin:20px 0 }
#ban300 {width:300px; height:250px; float:right; margin-bottom:10px }
#ban728 {width:728px; height:90px; margin-bottom:12px }
#ban728b { width:728px; height:90px; margin:10px 0 15px 1px; padding:0 }
#ban320 {position:fixed; left:0; bottom:0; width:100%; height:50px; background:#ddd; display:none; overflow:hidden; }
#ban320 { z-index:3; -webkit-transform-origin:0 0  }
#ban320 div { margin:0 auto }

/** UTILERIAS **/
div.multipag { clear:both; width:100%; margin:1px 0; background:#ddd; border-radius:3px;  padding:5px 5px 2px 5px; font:bold 12px/22px var(--sec-fonts); color:#fff; }
div.multipag .first { float:left; font-size:16px; color:#000; margin-right:10px; }
div.multipag ul { display:block }
div.multipag li { float:left; cursor:pointer; width:20px; height:20px; border-radius:10px; margin-right:4px; background:#444; text-align:center}
div.multipag .last {float:right; text-align:right; font-size:14px; white-space:nowrap; color:#000; width:100px; background:transparent }
div.multipag li.sel, div.multipag a:hover { background-color:#f84;  }
div.multipag li.sig { width:30px }


/*****************************************************************************/
/** GENERAL LAYOUT                                                          **/
/*****************************************************************************/

/*** Barra de Navegación ***/
#mTopCont { width:100%; height:44px; z-index:100; background:#000; position:fixed; top:0; }
#mTop { display:flex; align-items:center; justify-content:space-between; max-width:var(--main-max-width); margin:0 auto; padding:5px 10px;   }
#mTop a { color:#ddd }
#mtMenuBut, #mtBuscBut { display:none; width:40px; height:24px; padding-top:2px; -webkit-user-select:none }
#mtMenuBut div, #mtBuscBut div {	width:20px; height:20px; background:transparent url('//d22ryz4wtxzg2g.cloudfront.net/img/mobMenu.png') no-repeat; background-size:20px 200px }
#mtBuscBut div { background-position:0 -120px; float:right }
#mtLogo { align-self: flex-start;  }
#mtLogo img { width:128px; height:32px }
.mtSecs { margin: 4px 0 0 20px; color:#fc0; padding-top: 2px; font:normal 16px/24px var(--sec-fonts)}
#mtBusc { margin:0 0 0 auto; text-align:right; width:30%; min-width:300px; padding-top:4px; height:30px; overflow:hidden; align-self:center;  }
#mtBusca span.lupa { background-color:#f84!important; background-image:none!important }
.mtBuscImg { display:block; float:right; text-align:center; width:24px; height:24px; border-radius:0 3px 3px 0; background:#f84!important; padding-top:2px }

#mtBuscExp {  border:0; float:right; width:85%; height:24px; border-radius:3px 0 0 3px; font:normal 17px/18px Roboto,arial;
							padding:2px 5px; color:#08c!important; -webkit-appareance:none; -ms-appareance:none; text-decoration:none}
#mtBuscExp:focus { outline:none }

/*** Header (justo bajo la barra de navegacion) ***/
#mHead { width:100%; max-width:var(--main-max-width); padding:0 10px; height:29px; margin:0 auto; font:normal 12px/1.5 Lato,arial; color:#444; }
#mHead div { margin-top:6px }
#mHead a { color:#000 }
.mhTit { float:left; overflow:hidden }
.mhTit a  { text-decoration:underline; color:#000 }

#mLgn, #mReg, #mUsr, #mLan,.mLan { float:right; cursor:pointer; text-align:right; height:20px; padding-bottom:4px; background-size: 16px 16px; background-repeat: no-repeat; padding-right:20px; margin-top:0; border-radius:3px; padding-left:4px }
#mLgn:hover, #mReg:hover, #mLan:hover,.mLan:hover { background-color:#eee }
#mLgn { background-image:url('//cdn.lacuerda.net/IMG/mLgn.png'); margin-left:16px; background-position:top right }
#mReg { background-image:url('//cdn.lacuerda.net/IMG/mReg.png'); background-position:top right }
#mLan, .mLan { margin-left:16px; background-size:20px 13px; background-position:100% 20%; padding-right:25px }
.lanES { background-image:url('//cdn.lacuerda.net/IMG/Paises/España.gif') }
.lanEN { background-image:url('//cdn.lacuerda.net/IMG/Paises/Gran Bretaña.gif') }
.lanPT { background-image:url('//cdn.lacuerda.net/IMG/Paises/Portugal.gif') }
.lanES::before { content:'español' }
.lanEN::before { content:'english' }
.lanPT::before { content:'português' }
#mSel { display:none; overflow:hidden; -webkit-transition:padding-left 1.00s linear; }

#mUsr { background-image:url('//cdn.lacuerda.net/IMG/noicon80.png'); background-size:24px 24px; background-position:right; padding-right:24px; font:bold 14px/24px lato,arial }
#mUsr img { border-radius:12px; margin-left:6px; width:24px; height:24px; vertical-align:bottom }
#mUsr a { font-size:12px; line-height:12px; font-weight:normal; background:#ccc; color:#000; padding:2px 4px; border-radius:6px }
/*** Footer y Mask ***/
#mBot { height:40px; padding-top:12px; clear:both; color:#fff; background-image:-webkit-gradient(linear, 0 0, 0 100%, color-stop(0, #fff), color-stop(0.1, #000) ); }
#mBot { width:100%; background-color:#000; text-align:center;  text-align:center; font:normal 15px Lato,arial }
#mBot a { font-size:11px; color:#ddd }
#mMask { 	background:#000; opacity:0.5; z-index:20; position:fixed; top:44px; left:0; width:100%; height:2000px; -webkit-transition:opacity 1.0s linear; }
#mMask div { font:bold 30px/1.2 arial; color:#fff; text-align:center; margin:60px auto 0 auto }
#mMask img { margin:200px auto 0 auto; width:100px; height:100px; }
/*** Main Columns ***/
#mCols { display:flex; align-items:flex-start; padding:0 10px; margin:15px auto; max-width:var(--main-max-width);  }
#mLeft { z-index:3; padding:0 0 0 0; height:100%; margin-right:40px; width:200px; min-width:200px; vertical-align:top }
.mlTit { height:32px; color:#fff; font:bold 20px/32px Khand,arial; padding:2px 0 0 5px; background:#aaa }
#mlMenu { padding:0; -webkit-transition:height 0.90s linear; overflow:hidden }
#mlMenu ul { width:100%; color:#404040 }
#mlMenu li { border:solid 1px #ccc; color:#a00; cursor:pointer; border-width:0 0 1px 0; font:bold 14px/40px Khand,arial; height:40px; padding-left:6px }
#mlMenu li:hover {background-color:#e0e0e0 }
#mlMenu li a { color:#404040 }
#mlMenu li span { display:inline-block; position:absolute; padding:26px 0 0 0; color:#999; font-size:9px; line-height:1 }
.mBody {  border-left:0px solid #888; padding:0; min-height:800px; vertical-align:top; margin-bottom:10px; max-width:728px }
.mbTit { 	color:#fff; font:bold 20px/30px Khand,tahoma,verdana; padding:2px 0 0 5px; height:30px;
					background-image:linear-gradient(to right, #000, #000 70%, #fff); background-position:0 30px; margin:0px 0 5px 0 }
.mbTit a { color:#fff; font:bold 20px/28px var(--sec-fonts); text-decoration:none }
.mbTit em a { color:#fc0; font-size:12px }
.mbTit em a:hover { text-decoration:underline }
.mbTit div { float:left; width:480px; }
.mbTit .mbtRight { float:right; width:240px; text-align:right }

.mbTit img  { width:26px; height:16px; margin-top:7px }
#mRight { width:200px!important; margin-left:40px }
#mRight .a_tit { text-align:right; padding-right:5px; background-image:linear-gradient(to left, #000, #000 70%, #fff);}



/*****************************************************************************/
/** BAND PAGES                                                              **/
/*****************************************************************************/

.b_main { width:100% }
.b_main li { border:1px solid #ccc; border-width:0 0 1px 0; height:34px }
.b_main li:first-child { border-width:1px 0 }
.b_main li:hover { background-color:#eee }
.b_main li { clear:both; padding:2px 0 0 2px; font:bold 16px/28px Nunito,arial; color:#040; vertical-align:middle }
.b_main li div.imgCont { float:right; width:190px; margin-top:5px }
.b_main li div.imgCont div, .bfDiv div { cursor:pointer; user-select:none; display:inline-block; margin:0 0 0 2px; background-image:url('//cdn.lacuerda.net/IMG/Tipos.png'); background-repeat:no-repeat; background-size:108px 18px; height:20px; width:18px; vertical-align:middle }
.b_main a  { color:#080; display:block; float:left; margin:1px 0 2px 2px; white-space:nowrap; overflow:hidden }
.b_main em { font: normal 7pt arial;  }
.b_main em a { font: normal 8pt/22px arial; color:#0a0;  }
.b_main img { width:20px; height:20px; cursor:pointer; margin:4px 3px 0 0; vertical-align:middle; background:#ddd; border-radius:3px }
.bFilter { float:left; width:340px; height:100px; margin-bottom:5px }
.bFilter form { display:inline }
.bFilter li { clear:all; display:block; width:100%; height:30px }
.bFilter .butCmd { font-size:40px; width:24px; opacity:0.8; height:24px; margin:0 0 0 10px; float:left; position:relative; display:block; margin:0; background-color:transparent; background-image:url('//acordes.lacuerda.net/IMG/Tran/Tools.png'); background-size:24px 264px; background-repeat:no-repeat; background-position:0 -168px }
.bFilter .bfBut1 { background-position:0 -192px }
.bFilter .bfBut2 { background-position:0 -216px }
.bfDiv { float:left; width:300px; height:30px; font:normal 13px/24px Lato,arial!important; padding-left:5px; color:#f84}
.bfDiv em { display:inline-block; width:65px;  }
.bfDiv input[type=text] {  float:left; margin:2px 0 0 5px; width:150px; height:22px; border:1px solid #ccc; color:#f84; border-radius:3px 0 0 3px; border-width:1px 0 1px 1px; font:bold 12px/16px roboto,arial; padding:3px;  }
em.bfBusca { float:left }
em.lupaCont { display:block; float:left; width:22px; margin-top:2px; height:22px; padding:2px 0 0 5px; background-color:#ccc; background-image:none; border-radius:0 3px 3px 0; cursor:pointer; -webkit-user-select:none }
span.lupa { display:inline-block; -webkit-transform: rotate(-45deg); -moz-transform: rotate(-45deg); transform: rotate(-45deg); font:bold 18px/18px arial; color:#fff; background-color:transparent!important; background-image:none!important }
span.cncl { display:block; position:absolute; cursor:pointer; margin-left:235px; margin-top:5px; font:bold 18px/1 arial; color:#666; opacity:0.20 }
span.cncl:hover { color:#c00; opacity:1 }
.bfDiv div.but { width:70px; background:#ccc; color:#fff; font:bold 10px/20px lato,arial; border-radius:3px; margin-left:5px; text-align:center; -webkit-user-select:none; user-select:none }
.bfDiv div.sel { background:#666 }








/**** TRANSCRIPCION ****/
#t_loader { display:block; width:32px; height:32px; position:absolute; margin:32px 0 0 348px;
						border: 4px solid #f3f3f3; border-radius: 50%; border-top: 4px solid #666; width: 30px; height: 30px;
  					-webkit-animation: spin 1s linear infinite; animation: spin 1s linear infinite; }
@-webkit-keyframes spin { 0% { -webkit-transform: rotate(0deg); } 100% { -webkit-transform: rotate(360deg); }}
@keyframes spin { 0% { transform: rotate(0deg); } 100% { transform: rotate(360deg); }}

.tlTit { width:200px; background-color:#fff; padding:0; border-radius:5px 5px 0 0; height:24px; margin-bottom:3px; font-size:12px; line-height:22px }
.tlTit a { display:inline-block; padding-top:2px; width:62px; margin-right:2px; text-align:center; background-color:#ccc; border-radius:3px; color:#fff }
.tlTit a.sel { background-color:#f84 }
.tlTit a.big { width:126px }

/* NAVEGACION BARRA IZQUIERDA */
#tNav { background:#fff; height:375px }
#tNav ul { background:#fff; border-bottom:1px solid #aaa }
#tNav li { height:34px; width:100%; padding:6px 4px 6px 3px; margin:0; border:0 0 1px 0 }

.tNav li div { display:inline-block; -webkit-user-select:none; user-select:none }
.tNav li div.tlLeft { float:left; background-image:url('//cdn.lacuerda.net/IMG/Tipos.png'); background-repeat:no-repeat; background-size:108px 18px; height:20px; width:18px  }
.tNav li div.tlMid { float:left; height:20px; font:normal 14px/22px Roboto; color:#080; padding-left:3px }
.tNav li div.tlRight { float:right; background-image:url('//cdn.lacuerda.net/IMG/Califs2.png'); background-repeat:no-repeat; width:30px; height:14px; margin-top:3px }

.tlr90 {background-position:0 -81px }
.tlr85 {background-position:0 -95px }
.tlr80 {background-position:0 -109px }
.tlr75 {background-position:0 -123px }
.tlr70 {background-position:0 -137px }
.tlr65 {background-position:0 -151px }
.tlr60 {background-position:0 -165px }
.tlr55 {background-position:0 -179px }
.tlr00 {background-position:0 -193px }
/*** ENCABEZADO ***/
#tHead { width:728px; height:96px; border-bottom:1px solid #a0a0a0; margin:0px 0 25px 0;  }
#tH1 { float:left; width:80%; white-space:nowrap; padding:0 5px 1px 5px}
#tH1 h1 { font:bold 24px/20px Nunito,arial; margin:0 0 3px 0	}
#tH1 a { color:#008000; text-decoration:none}
#tH1 a:hover { text-decoration:underline }
#tH1 a.r  { color:#0a0; }
#tH1 span { font-weight:normal; color:#606060; font-size:8pt; line-height:10px }
#tH1 h2 { font:bold 18px/22px Nunito,arial; margin:0 0 3px 0}
#tH2 { width:20%; float:left; text-align:right }
#tH2 .butCmd img { width:0.65em; height:0.65em; margin:4px 0 0 1px }

.tH2div { display:inline-block; margin:2px 5px 0 0; float:right; text-align:right }
#tH2cal { width:80px; height:9px; margin-bottom:3px}
.cal { background:transparent url('//cdn.lacuerda.net/IMG/Califs.png') no-repeat }
.cal90 {background-position:0 0 }
.cal85 {background-position:0 -9px  }
.cal80 {background-position:0 -18px }
.cal75 {background-position:0 -27px }
.cal70 { background-position:0 -36px }
.cal65 {background-position:0 -45px }
.cal60 {background-position:0 -54px }
.cal55 {background-position:0 -63px }
.cal00 {background-position:0 -72px }
#tH2txt { color:#888; font-weight:bold }
#tH2txt em { font-size:10px; font-style:normal; font-weight:normal }
#tH3 { width:60%; float:left; color:#404040; font-weight:bold; font-size:8pt; line-height:16px; padding:0 5px 3px 5px }
#tH3 em { font-size:10px; font-style:normal }
#tH3 a { font-size:7pt }
#tH4 { width:40%; float:left; text-align:right; vertical-align:bottom; font-size:8pt; color:#444; font-family:verdana; white-space:nowrap; padding:5px; padding-top:0 }
#tH4 pre { display:block; font:normal 12px/12px Monaco,courier; margin:5px 0 1px 0}
#tH4 a { text-decoration:underline; color:#000 }
/* HEADER TOOLS */
#tHtools { height:30px; width:150px; position:absolute; text-align:center; margin:80px 0 0 289px; padding:0; vertical-align:top }
#tHtools .butCmd, #tH2 .butCmd { font-size:30px; float:none; position:relative; display:inline-block; margin:0; background-color:#fff; border:1px solid #888 }
#tHtools .butCmd img { width:0.65em; height:0.65em; margin:4px 0 0 0px}
#tHtools .butCmd:hover, #tH2 .butCmd:hover { background-color:#08c }
#tHtools .butCmd:active, #tH2 .butCmd:active { background-color:#f84 }
#tHtools .butCmd, #tH2 .butCmd { background-image:url('//cdn.lacuerda.net/IMG/Tran/hTools.png'); background-size:224px 28px; background-repeat:no-repeat }
#tH2 .butCmd { float:right }
.tPrt { background-position:-28px 0 }
.tTxt { background-position:-56px 0 }
.starOff { background-position:-84px 0 }
.starOn { background-position:-112px 0 }
.tClf { background-position:-140px 0 }
.tCompo, .tAlbum { width:18px; height:18px; margin:0 2px 0 0; vertical-align:bottom; display:inline-block; background-image:url('//cdn.lacuerda.net/IMG/Tran/hTools.png'); background-size:144px 18px; background-repeat:no-repeat }
.tCompo { background-position:-108px 0 }
.tAlbum { background-position:-126px 0 }

/* TRAN COMMANDS */
#tranCmds { width:50px; height:350px; position:absolute; margin:23px 0 0 688px; padding:0; opacity:0.9; z-index:3; -webkit-transition:top 0.15s linear; }
#tranCmds span { margin:0; display:block; position:absolute; padding-left:5px; color:#000; font:bold 0.5em/2.5 helvetica; text-shadow: #fff 0px 1px 1px; }
.vertical { -webkit-transform: rotate(270deg); -webkit-transform-origin: 0 0; -ms-transform: rotate(270deg); -ms-transform-origin: 0 0; }
.helpTit { width:100%; background:#f84; color:#fff }
#tExplain { width:200px; height:400px; color:#f84; z-index:10; -webkit-transition:opacity 0.25s linear; opacity:0.85; position:absolute; margin:19px 0 0 485px; padding-top:2px; text-align:right; font:normal 18px/45px roboto,arial; text-shadow: 0 0 10px #f84; background:#fff; overflow:hidden }
.bTbox,.bDesf,.bDiag,.bTran,.bForm { background-image:url('//acordes.lacuerda.net/IMG/Tran/Tools.png'); background-size:40px 440px; background-repeat:no-repeat}
.bDesf { background-position: 0 -40px }
.bDiag { background-position: 0 -80px }
.bTran { background-position: 0 -120px }
.bForm { background-position: 0 -160px }

#t_diag  { -webkit-print-color-adjust:exact; min-height:20px; background-color:#ffffff; margin:15px 0 5px 0; padding:2px 0; width:100%; text-align:center; -moz-border-radius:5px; -webkit-border-radius:5px; border-radius:5px; }
#t_diag2 { width:1040px; font-size:10px; -webkit-print-color-adjust:exact;
 					transform-origin:0 0; -ms-transform-origin: 0 0; -webkit-transform-origin:0 0; -moz-transform-origin: 0 0; transform:scale(0.7); -webkit-transform:scale(0.7); -moz-transform:scale(0.7); -ms-transform:scale(0.7); }
#tDiag2Cont { overflow:hidden; height:1px }
#t_body  { min-height:550px; padding:5px; width:100%; overflow:hidden; background:#fff; color:#000; vertical-align:top; margin:9px 10px 3px 0; border-top:1px solid #aaa; padding-top:8px;
		  		 font:normal 13px/1.35 'Oxygen Mono','lucida console','courier new','courier', monospace }
#t_body pre { font-family:inherit; line-height:1em }

#t_body a { display:inline-block; padding:0.3em 0.5em 0 0.5em; margin:0.25em -0.5em 0 -0.5em; line-height:1.3em; font-size:100%; color:#04c; cursor:pointer; -webkit-border-radius:0.4em;}
#t_body a:active { background-color:#2af }
#t_body em { font-style:normal; font-weight:normal; font-family:'Oxygen Mono','lucida console','courier new','courier'; line-height:1;  }
#t_body .acl { line-height:0.7; vertical-align:bottom; margin-top:0.5em }
#t_body div { height:0.5em }

#t_coms { width:100%; border-radius:5px; padding:10px; margin:10px 0; background:#ccc; font-family:roboto }
#t_coms a { font:bold 14pt/24px Lato,roboto,arial; color:#000 }
#tDisc  { margin:0 0 30px 0; font-size:11px; text-align:center }

#mrShare { width:100%; height:74px }
.shareBut { float:right; width:40px; height:40px; margin-left:5px; border-radius:2px; cursor:pointer; user-select:none; -webkit-user-select:none;
 						background-image:url('//cdn.lacuerda.net/IMG/Tran/Tools.png'); background-size:40px 440px; background-repeat:no-repeat }
.fbook { background-position: 0 -200px }
.tweet { background-position: 0 -240px }
.insta { background-position: 0 -400px }
#mrVideo { width:200px; height:136px; margin:22px 0 4px 0; border-radius:4px }
#mrVideo iframe { width:200px; height:158px; border:0; border-radius:3px }

.mrPopList { opacity:0.20; -webkit-transition:opacity 0.3s linear; }
.mrPopList:hover { opacity:1 }
.mrPopList .a_tit { margin-bottom:10px }
.mrPopList li { width:100%; height:70px; cursor:pointer }
.mrPopList li div { float:left; width:118px; margin:auto 8px auto 0; text-align:right; padding-top:16px }
.mrPopList a { color:#222; font-weight:bold }
.mrPopList li img { display:block; float:left; opacity:1; margin:0; width:65px; height:65px; overflow:hidden }


.bFoto { width:65px; height:65px; float:left; margin:0 10px 15px 0; border-radius:10px }
.bTit { margin:8px 0 0 10px; padding-left:10px; background:transparent; }
.bTit h1 { color:#080; font:bold 30px/30px Nunito,arial; margin:0 }
.bTit h2 { color:#666; font:normal 12px/12px Nunito,arial; font-style:normal; margin:0 }


.rCal { width:80px; height:9px; margin:0 auto; background-color:transparent; background-image:url('//cdn.lacuerda.net/IMG/Califs2.png'); background-repeat:no-repeat }



#popmask { position:absolute; top:0px; left:0px; z-index:10; width:100%; height:100%; background-color:#000000; filter:alpha(opacity=30); -moz-opacity:.30; opacity:.30 }
#popframe { position:fixed; top:50%; left:50%; -webkit-transform: translate(-50%,-50%); transform: translate(-50%,-50%); }
#popframe { vertical-align:middle; z-index:20; border:0 }
#popctl {display:none}
#popbuf { width:100px; height:100px; border:1px solid black; position:absolute }

ul.sc_lklist { margin:0 }
ul.sc_lklist li { margin:0; padding:0; height:24px; font-family:arial; font-size:9pt; color:#a00000; font-weight:bold; height:20px; border-bottom:1px }
ul.sc_lklist a { color:#404040; font-weight:bold }
ul.sc_lklist span { color:#a0a0a0; font-size:7pt }


div.sc_intro { text-align:justify; margin:5px 2px; font:normal 10pt/1.4 arial }

#t_ibar { position:absolute; margin:10px 0 0 572px; width:160px; height:200px; opacity:0.5; filter:alpha(opacity=50); color:#fff; font:normal 12px arial }
#t_ibar img, .t_trow img { width:32px; height:32px; padding:3px; border-radius:3px; background-color:#888; margin-bottom:2px; cursor:pointer; behavior:url('/UTIL/border-radius.htc'); }
#t_ibar table:hover { color:#000 }

.t_trow { clear:both; width:180px;  color:#444; font:bold 12px/22px arial;  }
.t_trow img { float:left; background:#ccc; border:1px solid #888; width:16px; height:16px; padding:1px  }
.t_trow em { display:block; float:left; font-style:normal; width:134px; height:20px; margin-left:5px; }

.t_trow img.bleu { background:#37c; border:1px solid #369 }

.t_acns { text-align:left; font:normal 6px/1 arial; margin-top:5px}
.t_acns img { background:#ccc; border:1px solid #888; width:24px; height:24px; padding:3px; border-radius:3px; cursor:pointer; behavior:url('/UTIL/border-radius.htc'); }

#t_vers { width:180px; margin:5px 0 0 0; background:none }
#t_vers tr { border-top:1px solid #888 }
#t_vers tr:first-child { border:0 }
#t_vers td { padding:1px 0 2px 0; color:#222 }
#t_vers td.r { text-align:right }

#t_full { width:100% }
#t_full tr { background:#000; height:40px }
#t_full td.l { width:180px; padding:0 0 0 10px }
#t_full td.d { width:220px }

#tf_tit, #tf_tit a { color:#fc0; font:bold 12pt arial }
#t_full td.d div, #tf_bar div, #tf_bar td { float:right; margin-right:5px; color:#fff; border:1px solid #888; border-radius:5px; -moz-border-radius:5px; width:30px ; height:30px }
#tf_b1,#tf_b2,#tf_b3,#tf_b4,#tf_b5 { background:#37c url('//cdn.lacuerda.net/IMG/tf_cmds.gif') no-repeat }
#tf_b1 { background-position: -120px 0 }
#tf_b2 { background-position: -90px 0 }
#tf_b3 { background-position: -60px 0 }
#tf_b4 { background-position: -30px 0 }
#t_full img { width:120px; height:26px }
#tf_body { font:normal 14pt/1.3 'courier new'; padding:50px 15px 115px 15px; width:90%; height:100% }
#tf_body pre { font-family:'Oxygen Mono','Courier-Bold', 'Courier', 'Courier New' }
#tf_body a {cursor:pointer}
#tf_body em { font-style:normal; font-weight:normal; font-family:'Oxygen Mono','lucida console','courier new','courier'; line-height:0.8;  }
#tf_body .acl { line-height:0.7; vertical-align:bottom; margin-top:10px }
#tf_diag { background:#fff; opacity:0.95; padding:5px 0 }
#tf_foot { position:fixed; width:100%; height:95px; padding:5px; background:#ccc; text-align:center }
#tf_head { position:fixed; width:100% }
#tf_head span { font:normal 8pt arial; margin-left:5px }
#tf_bar { position:fixed; width:40px; background:#08c; opacity:0.8; text-align:left; overflow:hidden;
		  background-image:-webkit-gradient(linear, 0 0, 100% 0, color-stop(0, #6cf), color-stop(1, #08c) ); }
#tf_bar div { float:left; margin:5px 0 0 5px; border:2px solid #08c; background:#ddd; text-align:center; font:bold 20px/30px arial; color:#333; cursor:pointer }
#tf_bar div img { margin-top:3px }
#tf_bar div.b { margin-top:30px }

#loader { position:absolute; width:128px; height:128px; }

#mSwitch { width:100%; height:75px; cursor:pointer; margin-top:-8px; font:bold 12pt/1.2 Lato,arial; color:#444 }
#mSwitch img { width:60px; height:60px; margin:0 7px 0 0; border-radius:10px; float:left }

#tSwitch { width:100%; background:#ccc; padding:10px 0; margin:-5px 0 10px 0 }
#tSwitch img { width:90px; height:90px; border-radius:15px }
#tSwitch td { font:bold 55px 'trebuchet ms',arial; padding:10px }
#tSwitch td.t3 { color:#444; font:normal 40px/1.7 verdana; text-align:right; padding-right:10px }



@media only screen and (max-width: 1230px) {
	#mRight { display:none }
}

@media only screen and (max-width: 980px) {
	#mtMenuBut, #mtBuscBut { display:block }
	.mtSecs, #mtBusc, #mHead, #ban160 { display:none }
	.mBody { width:100%; margin:10px auto }
	.a_bmark { display:none }
	.tlTit { margin-bottom:0; padding-bottom:3px; padding-top:5px; height:32px }
	.mlTit { border-radius:0 }
	.a_exp { display:none }
	#mLeft {z-index:3; position:fixed; top:44px; left:0; display:none; z-index:30 }
	#mtBusc { margin:0 auto; text-align:center }
}

@media only screen and (max-width: 750px) {
	#mTop { max-width:none }
	#ban728, #ban728b, #tH2, #tH4 { display:none }
	#ban320 { display:block }

	#ban300, #rRightCol, #rLeftCol { float:none; margin:20px auto }
	#rRightCol, #rLeftCol { width:100%!important }
	ul.a_extra  { float:none; margin:20px auto; width:100%!important }
	#mBot { margin-bottom:50px }
	#r_head { width:auto }
	.rThumbs li { margin-left:20px }
	#tHead { width:auto }
	#tHtools { margin-left:33vw; width:30vw; padding:0 }
	#tranCmds { margin-left:0; right:8px }
	#tExplain { margin-left:0; right:62px }
	.s_but { margin-bottom:5px }
	#s_box input[type=text] { width:350px!important }

	div.multipag li { width:30px; height:30px; border-radius:15px; margin-right:7px; margin-bottom:7px; font-size:15px; line-height:30px }
	div.multipag .first { float:none }
	#i_main li em { display:none }
	#i_main li span { display:none }
	#i_main li a { width:auto!important }
	#i_main li { width: 100%!important }
	#mbTit div { width:100% }
	#mbTit div a { display:none }
	#mbTit div.mbtRight { display: none }
	button.i_but { float:none; margin:5px auto 10px auto }
}










/*****************************************************************************/
/*****************************************************************************/
/** !!! AQUI VOY !!!                                                        **/
/*****************************************************************************/
/*****************************************************************************/



/** ARCHIVO COMMON **/
#a_menu { height:340px; width:200px; display:block; background:#fff }
#a_menu div { float:left; width:30px; height:30px; margin:7px 14px 7px 0; padding:0 0 0 1px; font:bold 16px/32px 'Khand',arial; color:#444; text-align:center; cursor:pointer; background:#ddd; border-radius:15px }
#a_menu a  { color:#666 }
.a_bmark  { width:160px; height:100px; font-size:16px; border:1px solid #888; border-radius:5px; background-color:#eee; color:#444 }
#a_cont { min-height:300px; clear:both }

.a_exp { font:normal 12px/1.2 Lato,arial; color:#666; text-align:justify; margin:0 0 10px 20px; float:left; width:360px }
.a_exp2 { font-size:10pt; line-height:1.4 }
.a_tit { clear:both; padding:2px 0 0 3px; height:19px; text-align:left; vertical-align:middle;
          color:#fff; font:bold 13px/16px var(--sec-fonts); background-color:#222; border:0;
           background-image:linear-gradient(to right, #000, #000 70%, #fff);}
a.a_rlink, a.a_blink { display:block; text-align:right; margin:2px 0 0 0; font:normal 8pt Lato,roboto,arial; color:#048 }
a.a_blink { font-size:11pt; margin-bottom:5px }
a.a_llink { font:normal 8pt roboto,arial; color:#048 }

ul.a_extra { width:400px; vertical-align:top; float:left }
ul.a_otras { width:300px; vertical-align:top; float:left; margin-top:30px }
ul.a_extra li { color:#666; padding:3px; font-size:8pt; border:1px solid #888; border-width:0 0 1px 0 }
ul.a_extra li:first-child { padding:4px 0 1px 5px; font:bold 10px/12px Khand,verdana; color:#fff; background-image:linear-gradient(to right, #000, #000 70%, #fff); background-position:0 -38px }
ul.a_extra a { color:#444 }
ul.a_fix li:first-child { padding:4px 0 1px 4px; font:normal 11px/12px roboto,verdana; color:#444; background-image:none }

#a_like { width:200px; height:35px; float:left; font:bold 10px/24px verdana; color:#048 }
#a_like iframe { float:right; overflow:hidden; width:93px; height:65px; }
#a_like div { float:right; margin-right:5px }

/**** BUSCADOR ****/
#s_box { width:100%; height:60px; padding:0; margin:0 0 20px 0 }
#s_box input[type=text] { border:1px solid #888; margin-top:1px; color:#08c; font:bold 16px/1.2 arial; font-family:inherit; height:30px; padding:3px; width:400px; border-radius:3px }
.s_exp { float:left; line-height:24px }
.s_exp a { color:#666 }
#s_ind { float:left; width:400px; height:36px; padding-top:4px}
#s_avProp { height:32px }
#s_avMenu { width:400px; margin-top:5px}
#s_avMenu a { color:#fff; width:100px; margin-right:10px }
#s_avMenu a.cncl { position:absolute; cursor:pointer; -webkit-user-select:none; width:24px; height:24px; border-radius:12px; color:#800; background:transparent; font-size:20px; line-height:20px; padding-left:50px; padding-top:2px }
.s_but { float:right; cursor:pointer; -webkit-user-select:none; background:#f84; border:0; width:94px; height:48px; color:#fff; font-weight:bold; font-size:11px; line-height:28px; padding:0; border-radius:3px; -webkit-border-radius:3px;  margin-left:5px }
.s_bus { float:left; font-size:15px; opacity:1 }
.s_res { float:left; width:60%; margin:3px 0 15px 0; font:normal 13px Roboto,arial; color:#222 }
.s_ord { float:right; width:40%; text-align:right; margin:3px 0 0 0; font:normal 9pt Roboto,arial; color:#222 }
.s_ord a { color:#222 }
a.s_ordon { font-weight:bold; color:#000; border-bottom:2px solid #a00 }

#s_main { width:100%; font-family:Nunito,roboto,arial }
#s_main ul.sRow li { height:29px; width:75% }
#s_main ul.sRow li:first-child { width:25% }
#s_main td { border:1px solid #888; border-width:0 0 1px 0; vertical-align:top }
#s_main tr td:first-child { padding-top:7px }
#s_main a { color:#060; font-weight:bold }
#s_main li { clear:both; border:1px solid #888; border-width:1px 0 0 0 }
#s_main li:first-child { border-width:0 }
#s_main li a { color:#080; display:block; float:left; width:290px; overflow:hidden }
#s_main li div.imgCont { margin-top:5px }

/**** INDICES ****/
.i_exp { margin:5px 0 15px 0; float:left; width:400px  }
.i_but { width:250px; height:40px; margin:5px 0 10px 0; cursor:pointer; user-select:none; float:right; border:0; background:#f84; color:#fff; font:bold 14px/24px Lato,verdana; border-radius:5px }
#i_main { width:100%; margin-bottom:0 }
#i_main li { clear:all; display:block; width:728px; height:40px; padding:4px 2px 4px 0; border:1px solid #888; border-width:0 0 1px 0; font:bold 20px/32px Nunito,arial,sans-serif; color:#080 }
#i_main li:hover { background-color:#eee }
#i_main li:last-child { border:0 }
#i_main a  { display:inline-block; width:550px; float:left; color:#080;  }
#i_main .bFoto { display:block; float:left; margin:0; width:32px; height:32px; border-radius:5px; margin-right:8px }
#i_main em { display:block; float:left; font-size:8px; line-height:36px; font-style:normal;  }
#i_main span { display:inline-block; width:120px; float:left; margin-left:3px; font:bold 16px/32px 'Oxygen Mono',courier; color:#666; text-align:right   }
#i_main span em { display:inline; float:none; font:normal 8px Nunito,arial; font-style:normal;  }



#b_accs { padding:10px; margin:5px 0 30px 0; text-align:center }
#b_accs button { width:110px; height:35px; font:normal 9pt Lato,roboto,arial; background-color:#f84; border-radius:5px; color:#fff; border:0; cursor:pointer }
H1 {margin:1px 0 0 0; color:#fff; font:normal 10px/10px Lato,verdana }
#b_fbook { border:none; overflow:hidden; width:728px; height:180px; margin-bottom:20px }
#b_otros{ color:#444; font:normal 8pt/14px arial; margin:10px 0; clear:both }
#b_otros a { color:#666 }

/**** PAG ROLA ****/
#r_main { width:100%; clear:both;  }
#r_main tr.tit { height:12px; cursor:default }
#r_main tr.tit:hover { background-color:transparent }
#r_main tr.tit td { padding:1px 0 0 3px; height:14px; text-align:center; vertical-align:middle; border-width:0;
          color:#fff; font:bold 7pt/1.5 tahoma,verdana; background-color:#aaa; background-image:url('//cdn.lacuerda.net/IMG/f_midbg.png'); background-position:0 -40px }

#r_main { width:100%; margin-top:3px }
#r_main tr { height:40px; cursor:pointer }
#r_main tr:hover { background-color:#FCD7B6 }
#r_main td    { padding:3px; font:bold 12pt arial; color:#060; vertical-align:middle; border:1px solid #888; border-width:0 0 1px 0; text-align:center }
#r_main td.c1 img { width:18px; height:18px }
#r_main td.c2 { text-align:left }
#r_main td.c3 { padding-top:0 }
#r_main td.c3 img { width:80px; height:15px }
#r_main td.c4 { font:bold 12pt arial; color:#000}
#r_main td.c4 em { display:block; font:normal 7pt arial }
#r_main div,#r_main a { display:block; font:bold 7pt arial; color:#090 }

#r_mejor { position:absolute; z-index:2; width:235px; height:34px; text-align:right; margin:-15px 0 0 0 }
#r_main td.c3 div img { width:193px; height:34px }
a.r_vrlink { width:100%; margin-top:2px }
.r_vtit { margin-bottom:5px }
ul.r_extra { width:300px; float:none; text-align:left }


/*** EXTRA! VIDEOS ***/
div.v_row { width:728px; border-bottom:1px solid #888; cursor:pointer; }
div.v_row table { width:728px; margin: 2px 0 }
div.v_row table:hover { background-color:#FCD7B6 }
div.v_row img { width:65px; height:48px }
div.v_row td { padding:3px; border: 0px solid black }
div.v_row td.v_td1 { width:65px }
div.v_row td.v_td2 { width:350px; vertical-align:top;  }
div.v_row td.v_td2 b { display:block; width:344px; overflow:hidden; white-space:nowrap }
div.v_row td.v_td2 span { display:block; margin-top:4px; font-size:9pt; line-height:1.3 }
div.v_row td.v_td2 span.tit { font:bold 10pt arial; color:#c00; margin-top:0 }
div.v_row td.v_td2 em { background:#a00; color:#fff; font:bold 8pt verdana; border-radius:3px }
div.v_row td.v_td2 span i { font-style:normal; font-weight:bold; color:#800 }
div.v_row td.v_td4 { width:58px; text-align:center; font:bold 14px 'trebuchet ms',arial; color:#bbb }
div.v_row td.v_td5 {  width:80px; text-align:right; padding: 0 10px 10px 0 }
div.v_row td.v_td5 img { width:80px; height:15px }
div.v_row td.v_td6 { width:60px; font:bold 12pt arial; color:#000; text-align:center; padding-left:30px}
div.v_row td.v_td6 em { display:block; font:normal 7pt arial }





/**** CHORD DIAGRAMS **************************************/

#acodiv {
	position:absolute; visibility:hidden; width:160px; height:160px; z-index:2; padding:0;
	-webkit-border-radius:10px; -moz-border-radius:10px; border-radius:10px;
	background-color:#f0f0f0; text-align:center; filter:alpha(opacity=90); -moz-opacity:.90; opacity:0.95;
	font:bold 16px arial; line-height:1.6; border:solid 1px #888;
}
#acodiv span { font-size:75%; color:#808080; margin-top:1.2em }

#chordname {
	width:138px; padding-left:20px; height:24px; float:left; background-color:#808080; cursor:move; color:#fff;
	-webkit-border-top-left-radius: 8px; -moz-border-radius-topleft: 8px; border-top-left-radius: 8px;
}

#chordclose {
	float:right; background-color:#808080; color:#fff; width:20px; height:24px; font:normal 20px/20px arial;
	-webkit-border-top-right-radius: 8px; -moz-border-radius-topright: 8px; border-top-right-radius: 8px; cursor:pointer;
}

#verwrap { height:105px; width:140px; overflow:hidden; margin:0 auto; margin-top:20px; font-size:12px}

#verdiv  {
	list-style:none; display:block; float:left; height:100%;
	padding:0; margin:0; text-align:left; font-size:1em;
}

#verdiv  li { margin:0; padding:0; float:left; height:100%;  }

div.versionSel { width:18px; height:18px; float:left; font:normal 18px/16px arial; margin-top:0; cursor:pointer; user-select:none; -webkit-user-select:none;  }
#dotty { position: absolute; width: 6px; height: 6px; border-radius: 3px; background: #00f; }
#indicator, #indicator > li { display:block; list-style:none; padding:0; margin:4px 0 0 0; }
#indicator { margin:0 auto; font-size:0.6em; }
#indicator > li { float:left; text-indent:-9999em; width:0.8em; height:0.8em; -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px;
									background:#aaa; overflow:hidden; margin-right:0.4em; margin-top:5px }
#indicator > li.active { background:#00C; }

#t_adg,#t_adp { margin:0 0 0 0; vertical-align:top; width:100%; font-size:14px; text-align:center }
div.acoElm, div.piaElm, div.verElm, div.ukuElm, div.chaElm { display:block; float:left; margin:0 5px 10px 5px; height:130px; width:90px; cursor:pointer }
div.piaElm { width:100%; height:80px }
#t_diag2 div.piaElm { width:150px }
div.chordTit { font:bold 1.2em/0.9em arial; text-align:center }

div.fret, div.fretbis, div.fretVer, div.fretUku, div.fretCha { margin:0 auto; width:8.714em; height:5.714em; text-align:left; padding-top:0.071em;
												background-image:url('//cdn.lacuerda.net/DIAGS/fret2.png'); -webkit-background-size:8.714em 5.714em; background-repeat:no-repeat}
div.fretbis { background-image:url('//cdn.lacuerda.net/DIAGS/fretbis2.png') }
div.fretVer { padding-top:0; width:5.571em; height:7.857em; background-size:5.571em 7.857em; background-image:url('//cdn.lacuerda.net/DIAGS/fretVer.png'); background-position:0.21em 0 }
#acodiv div.fretVer { background-position:0 0 }
div.fretUku { padding-top:0; width:5.342em; height:5.857em; font-size:14px; text-align:left; -webkit-background-size:5.142em 5.857em; background-image:url('//cdn.lacuerda.net/DIAGS/fretUku.png') }
div.fretCha { padding-top:0; width:5.571em; height:7.857em; -webkit-background-size:5.571em 7.857em; background-image:url('//cdn.lacuerda.net/DIAGS/fretCha.png') }

div.fret span, div.fretbis span {font:bold 70% helvetica; color:#000000; text-align:left; display:block; margin-top:0; margin-left:3em; line-height:1.1em}
span.spanV, #acodiv span.spanV, span.spanC, #acodiv span.spanC  { font-size:80%; padding-top:2em; color:#000; font-family:arial; display:block; float:left; width:1em; overflow:hidden; vertical-align:top }
span.spanC { width:0.65em }

#acodiv span.spanV { font-size:1em; padding-top:0; width:0.5em }
#acodiv span.spanC { font-size:1em; padding-top:0; width:0.5em }

div.fretUku span.spanV {width:1em; overflow:hidden; padding-top:0.9em; font:bold 0.714em arial; overflow:hidden }
div.fretCha span.spanV {width:1.65em; overflow:hidden; padding-top:0.9em; font:bold 0.714em arial; overflow:hidden }
#verwrap div.fretUku span.spanV { width:0.643em; padding-top:0; margin-top:0.4em; font-weight:normal }
div.slide { margin:0; padding:0; float:left; width:140px; height:85px}

div.piano { margin:5px 0 0 4px; width:133px; height:44px; text-align:left; background:transparent url('//cdn.lacuerda.net/DIAGS/piano.png?b') no-repeat; background-size:133px 44px  }
div.piano .circle { width:8px; height:8px; position:absolute; font:normal 7px/7px arial; color:#F84 }
div.piaElm div.piano { margin:5px auto 0 auto }



div.poste, .posteV { background-color:#fff; text-align:center; width:0.214em; height:4em; border-right:0.143em solid #000; position:absolute; margin:0.286em 0 0 1.357em }
#acodiv div.poste, #acodiv div.posteV { background-color:#f0f0f0; margin-left:0.8em }
div.cejilla, .cejillaV { background-color:#222; border-radius:0.286em; text-align:center; width:0.571em; height:4.714em; position:absolute }
div.dedo { color:#fff; font:normal 0.571em/1.1 arial; background-color:#222; border-radius:0.625em; text-align:center; width:1.25em; height:1.25em; padding-top:0.25em; margin-bottom:0.125em }
div.cruz { color:#000; font:normal 1.2em/0.83em arial; margin-left:0.625em; height:0.625em; overflow:hidden }
div.alaire { width:0.714em; height:0.786em; }
div.desco, .descoV { font:bold 3.5em/2 helvetica; width:100%; height:7em; margin:0; padding:0; vertical-align:top; text-align:center; overflow:hidden }

.posteV, .posteC { width:4em; height:0.4em; border-bottom:0.143em solid #000; border-right:0; margin:0.64em 0 0 0.785em; z-index:1 }
.posteV { margin-left:1em }
.posteC { width:4.20em; height:1em; margin-top:0; background-color:transparent; position:absolute }
.cejillaV { height:0.571em; width:4.571em; margin-left:0.571em }
.alaireV, .alaireU, .alaireC { float:left; height:4em; width:0.786em; }
.alaireC { font-size:0.571em; width:1.75em }
.dedoV, .dedoU, .dedoC { float:left; color:#fff; font:normal 0.571em/1.4 arial; background-color:#222; border-radius:0.625em; text-align:left; width:1.25em; height:1.25em; padding-left:0.35em; margin-right:0.125em }
.dedoC { margin-right:0.5em }
.cruzV, .cruzC { float:left; color:#000; font:normal 1.1em/0.83em arial; margin-top:0.0em; height:4em; width:0.714em; z-index:20; height:1em; padding:0; overflow:hidden }
.cruzC { width:0.90em; height:1em; line-height:1; overflow:hidden }
.descoV { font:bold 3.5em/7 helvetica; color:#666; width:100%; height:5em; margin:0; padding:0; vertical-align:top; text-align:center; overflow:hidden }

.dedoU { margin-right:0.50em }
.alaireU { width:1em; margin:0 }







.rList { height:345px; overflow:auto; background-color:transparent  }
.rList li { font:normal 14px/22px Roboto!important; color:#080!important; padding-top:6px!important; overflow:hidden; background:transparent url('//cdn.lacuerda.net/IMG/chevron.png') no-repeat; background-position:185px center; background-size:6px 12px; white-space:nowrap }
.rList li a, .rList li em.a { opacity:1; display:block; height:22px; font:normal 14px/22px Roboto; color:#080!important; overflow:hidden; width:180px }
.rList li a, .rList li em.a {	-webkit-mask-image: linear-gradient(to right, rgba(0,128,0,1), rgba(0,128,0,1) 85%, rgba(255,255,255,0));}
.rListBot { width:20px; border-radius:10px; opacity:0.5; margin:0 auto; background:#f84; text-align:center; color:#fff; height:20px; font:bold 18px/20px arial; cursor:pointer; user-select:none; -webkit-user-select:none }
.rListBot:hover { opacity:1 }
.rbList { height:365px }
.rbList li { font-size:12px; height:36px!important; line-height:12px; }
.rbList li a { line-height:12px }
.rbList em { display:block; color:#0a0; font-size:10px; line-height:14px; height:12px }
.rbList li span { display:inline!important; height:auto; float:none; padding:0; margin:0; color:#040; font-size:9px; line-height:9px }
#rLeftCol { float:left; width:390px; margin-right:37px }
#rRightCol { float:right; width:300px }
